@charset "UTF-8";

@font-face {
    font-family: 'Monserrat';
    src: url('../fonts/montserrat/static/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Monserrat-B';
    src: url('../fonts/montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Monserrat-EBI';
    src: url('../fonts/montserrat/static/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Questrial';
    src: url('../fonts/questrial/Questrial-Regular.ttf') format('truetype');
}

:root {
    --fonte-padrao: 'Questrial';
    --fonte1: 'Monserrat'; 
    --fonte2: 'Monserrat-B';
    --fonte3: 'Monserrat-EBI'; 

    --cor1: #534242; 
}

* {
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(255, 68, 0, 0.785);
    font-size: 2vmax;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > img {
    max-width: 8%;
    margin-left: 8px;
}

#titulo {
    font-family: var(--fonte3);
    position: relative;
    left: 35vw;
    text-shadow: 1px 1px 3px rgb(20, 103, 144);
}

nav {
    background-color: var(--cor1);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.581);
    padding: 7px;
}

nav > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

h1 {
    color: var(--cor1);
    font-family: var(--fonte2);
    text-align: start;
    margin: 15px;
    font-size: 2em;
}

.box {
    display: inline-block;
    background-color: whitesmoke;
    width: 170px;
    height: 170px;
    margin-top: 40px;
    margin-left: 130px;
    border: 1px solid rgba(0, 0, 0, 0.378);
    border-radius: 3px;
}

.box > img {
    position: absolute;
    width: 12%;
}

span {
    position: relative;
    top: 102%;
    text-align: center;
}

main > a {
    color: black;
    text-decoration: none;
}

