@charset "UTF-8";

@font-face {
    font-family: 'Monserrat';
    src: url('fonts/static/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Monserrat-B';
    src: url('fonts/static/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Monserrat-EBI';
    src: url('fonts/static/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}

:root {
    --fonte1: 'Monserrat'; 
    --fonte2: 'Monserrat-B';
    --fonte3: 'Monserrat-EBI'; 

    --cor1: #534242; 
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(255, 68, 0, 0.785);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.581);
    font-family: var(--fonte3);
    font-size: 2vmax;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > img {
    max-width: 8%;
    margin-left: 8px;
}

header > h1 {
    position: relative;
    left: 24.5vw;
}

#box {
    background-color: whitesmoke;
    width: 170px;
    height: 170px;
    margin-top: 30px;
    margin-left: 50px;
    border: 1px solid rgba(0, 0, 0, 0.378);
    border-radius: 3px;
}

#box > img {
    position: absolute;
    width: 12%;
}

span {
    position: relative;
    top: 102%;
    text-align: center;
}

h1 {
    color: var(--cor1);
    font-family: var(--fonte2);
    margin: 15px;
    font-size: 2em;
}

h3 {
    font-family: var(--fonte2);
    color: var(--cor1);
}

main {
    padding: 10px;
    margin: auto;
    max-width: 750px;
    line-height: 1.5em;
    font-size: 3vh;
}

section > p {
    font-family: var(--fonte1);
}

strong, i {
    color: var(--cor1);
}
